$fn-red: #BC2433
$fn-blue: #20468B
$fn-black: #000000
$fn-white: #ffffff

body
	margin: 0
	padding: 0
.navbar
	display: flex
	flex-direction: row
	justify-content: space-between
	background-color: rgba(0,0,0,.5)
	padding: 0 4rem
.nav-links
	align-items: center
	margin: 0
	padding: 0