@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

.wrapper {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 40rem;
  height: 25rem;
  border-radius: .4rem;
  -webkit-box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.4);
}

.wrapper .modal .close {
  cursor: pointer;
  font-size: 24pt;
  padding: 1rem 2rem 1rem;
}

.wrapper .modal .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .modal h1 {
  font-size: 38pt;
  margin-bottom: 4rem;
}

.wrapper .modal input[type=text] {
  font-size: 18pt;
  width: 25rem;
  padding: 1rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: .1rem solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin: 0;
}

.wrapper .modal input[type=text]:focus {
  border: 0.1rem solid #000000;
}

.wrapper .modal .send {
  cursor: pointer;
  margin-top: .5rem;
  padding: 1rem 3rem;
  background-color: #BC2433;
  border-radius: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .modal .send span {
  color: #ffffff;
  font-size: 18pt;
}

.wrapper .modal .send img {
  margin-left: 1rem;
  width: 2rem;
}

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100vw;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78vw;
  margin: 0 auto;
  height: 100%;
}

.rsvp-btn {
  margin: auto 0;
  color: white;
  font-weight: bold;
  background-color: #BC2433;
  padding: 1rem 3rem;
  border-radius: .5rem;
  text-decoration: none;
}

.hero {
  height: 100%;
  width: 100vw;
  text-align: center;
  color: #ffffff;
  background-color: #20468B;
  overflow: hidden;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero img {
  position: relative;
  top: 20rem;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.hero img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero h1 {
  font-size: 62pt;
  margin: 12rem 2rem 10rem;
}

.pop-up {
  -webkit-animation: pop-up 1s forwards;
          animation: pop-up 1s forwards;
}

.details {
  text-align: center;
  color: #ffffff;
  width: 100vw;
  height: 100%;
  z-index: 3;
}

.details .container {
  width: 78vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details h2 {
  font-size: 28pt;
  padding: 4rem 0;
}

.details p {
  font-size: 18pt;
}

.desc article {
  height: 100%;
  padding: 2rem 0;
  background-color: #BC2433;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.title h2 {
  white-space: nowrap;
  margin: 0 1rem;
}

.title span {
  width: 100%;
  background-color: #ffffff;
  height: .1rem;
}

.highlights, .map {
  background-image: none;
  background-color: #ffffff;
  margin: 0 auto;
  color: #000000;
}

.highlights .container, .map .container {
  padding-bottom: 4rem;
}

.highlights h2, .map h2 {
  opacity: 0;
}

.highlights .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.highlights .highlight {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlights .highlight span {
  font-size: 18pt;
  margin-top: 2rem;
}

.highlights .highlight img {
  width: 5rem;
  height: 5rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16pt;
  color: #20468B;
}

.info span {
  -webkit-transition: width 2s;
  transition: width 2s;
  width: 0;
  height: .1rem;
  background-color: #000000;
  margin: 3rem 0;
}

.map {
  background-color: #f4f4f4;
}

.map article {
  height: 100%;
}

.map .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map iframe {
  -webkit-box-shadow: 0 0 1rem 0.6rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0.6rem rgba(0, 0, 0, 0.2);
  margin-left: 4rem;
  width: 60%;
}

footer {
  color: #ffffff;
  width: 100vw;
  height: 7rem;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1048px) {
  .wrapper .modal {
    width: 90vw;
    height: 20rem;
  }
  .wrapper .modal h1 {
    font-size: 28pt;
    margin-bottom: 3rem;
  }
  .wrapper .modal input[type=text] {
    width: 90%;
  }
  .navbar {
    height: 3.5rem;
  }
  .navbar img {
    width: 80%;
  }
  .rsvp-btn {
    padding: .8rem 2rem;
    font-size: 11pt;
  }
  .nav-links {
    width: 90vw;
  }
  .hero h1 {
    font-size: 42pt;
  }
  .title {
    margin-top: 0;
  }
  .details p {
    font-size: 14pt;
  }
  .details .container {
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map iframe {
    margin: 4rem 0 0;
    width: 100%;
  }
}

@-webkit-keyframes pop-up {
  60% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  100% {
    -webkit-transform: translateY(-19.5rem);
            transform: translateY(-19.5rem);
  }
}

@keyframes pop-up {
  60% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  100% {
    -webkit-transform: translateY(-19.5rem);
            transform: translateY(-19.5rem);
  }
}
/*# sourceMappingURL=style.css.map */