@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100vw;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78vw;
  margin: 0 auto;
  height: 100%;
}

.rsvp-btn {
  margin: auto 0;
  color: white;
  font-weight: bold;
  background-color: #BC2433;
  padding: 1rem 3rem;
  border-radius: .5rem;
  text-decoration: none;
}

.hero {
  height: 100%;
  width: 100vw;
  text-align: center;
  color: #ffffff;
  background-color: #20468B;
  overflow: hidden;
}

.hero .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero img {
  position: relative;
  top: 20rem;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s, -o-transform 1s;
}

.hero img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}

.hero h1 {
  padding-top: 10rem;
  font-size: 62pt;
  margin-bottom: 4rem;
}

.pop-up {
  -webkit-animation: pop-up 2s forwards;
       -o-animation: pop-up 2s forwards;
          animation: pop-up 2s forwards;
}

.details {
  position: relative;
  top: -4px;
  text-align: center;
  color: #ffffff;
  width: 100vw;
  height: 100%;
  z-index: 3;
}

.details .container {
  width: 78vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details h2 {
  font-size: 28pt;
  margin: 2rem 0;
}

.details p {
  font-size: 18pt;
}

.desc article {
  height: 10rem;
  padding: 4rem 0;
  background-color: #BC2433;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.title h2 {
  white-space: nowrap;
  padding: 0 2rem;
}

.title span {
  width: 100%;
  background-color: #ffffff;
  height: .1rem;
}

.highlights, .map {
  background-image: none;
  background-color: #ffffff;
  margin: 0 auto;
  color: #000000;
}

.highlights h2, .map h2 {
  opacity: 0;
}

.highlights .container, .map .container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.highlights .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.highlights .highlight {
  margin: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlights .highlight span {
  font-size: 18pt;
  margin-top: 2rem;
}

.highlights .highlight img {
  width: 5rem;
  height: 5rem;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16pt;
  color: #20468B;
}

.info span {
  width: 6rem;
  height: .1rem;
  background-color: #000000;
  margin: 3rem 0;
}

.map {
  background-color: #f4f4f4;
}

.map h2 {
  padding: 2rem 0;
}

.map article {
  height: 100%;
}

.map .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
}

.map iframe {
  -webkit-box-shadow: 0 0 1em 0.6em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em 0.6em rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

footer {
  color: #ffffff;
  width: 100vw;
  height: 7rem;
  background-color: #181818;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes pop-up {
  50% {
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  100% {
    -webkit-transform: translateY(-19rem);
            transform: translateY(-19rem);
  }
}

@-o-keyframes pop-up {
  50% {
    -o-transform: translateY(-20rem);
       transform: translateY(-20rem);
  }
  100% {
    -o-transform: translateY(-19rem);
       transform: translateY(-19rem);
  }
}

@keyframes pop-up {
  50% {
    -webkit-transform: translateY(-20rem);
         -o-transform: translateY(-20rem);
            transform: translateY(-20rem);
  }
  100% {
    -webkit-transform: translateY(-19rem);
         -o-transform: translateY(-19rem);
            transform: translateY(-19rem);
  }
}
/*# sourceMappingURL=style.css.map */